# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# testing

# next.js

# production

# misc

# debug

# env files (can opt-in for committing if needed)

# vercel

# typescript
# dependencies
node_modules

# next
.next
out

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

.vercel
